	// Place all the styles related to the People controller here.
	// They will automatically be included in application.css.
	// You can use Sass (SCSS) here: http://sass-lang.com/

html body {
	background-color:#eee;
	color: #EEE;
	font-family: Arial, Helvetica, sans-serif;
	.logo {
		img {
			margin:auto;
			margin-bottom: 5%;
			display:block;
			height: auto;
			width: 100%;
			max-width: 525px
		}
		text-align: center;
		display: block;
	}
	.logo:hover {
		background-color: transparent;
	}
	.container {
		background: -moz-linear-gradient(left, #A11D4C 0%, #3C0718 70%, #3C0718 82%, #3C0718 100%, #6D122E 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#A11D4C), color-stop(70%,#3C0718), color-stop(82%,#3C0718), color-stop(100%,#3C0718), color-stop(100%,#6D122E));
		background: -webkit-linear-gradient(left, #A11D4C 0%,#3C0718 70%,#3C0718 82%,#3C0718 100%,#6D122E 100%);
		background: -o-linear-gradient(left, #A11D4C 0%,#3C0718 70%,#3C0718 82%,#3C0718 100%,#6D122E 100%);
		background: -ms-linear-gradient(left, #A11D4C 0%,#3C0718 70%,#3C0718 82%,#3C0718 100%,#6D122E 100%);
		background: linear-gradient(to right, #A11D4C 0%,#3C0718 70%,#3C0718 82%,#3C0718 100%,#6D122E 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a11d4c', endColorstr='#6d122e',GradientType=1 );
		border-radius: 70px;
		-webkit-border-radius: 70px;
		-moz-border-radius: 70px;
		-o-border-radius: 70px;
		padding: 2%;
		padding-bottom: 35px;
		width: 80%;
		max-width: 974px;
		height:40%;
		margin: auto;
		position:relative;
		h1 { 
			text-align: center;
			
			text-shadow: -2px -3px 10px black;
			-moz-text-shadow: -2px -3px 10px black;
			-webkit-text-shadow: -2px -3px 10px black;
		}
		.person {
			-moz-box-shadow:2px 2px 5px #555;
			-webkit-box-shadow:2px 2px 5px #555;
			box-shadow:2px 2px 5px #555;
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
			background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
			background-color:#ededed;
			-moz-border-radius:0 40px;
			-webkit-border-radius:0 40px;
			border-radius:0 40px;
			border:2px solid #dcdcdc;
			color:#222;
			display:block;
			font-family:arial;
			font-size:2em;
			font-weight:bold;
			padding:1em;
			margin:0.5em;
			text-decoration:none;
			text-align: center;
			text-shadow:1px 1px 0px #ffffff;
		}
		.person:hover {
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
			background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
			background-color:#dfdfdf;
			cursor:pointer;
		}
		.person:active {
			position:relative;
			top:1px;
		}

		.name {
			font-size: 1.5em;
			font-weight: bold;
			padding-left:25px;
		}
		.results {
			background-color: rgb(24,157,219);
			display: block;
			width: 0;
			height: 2em;
			line-height: 2.1em;
			font-weight: bold;
			margin: 8px 0 8px 30px;
			white-space: nowrap;
			transition: width 1s ease-out;
			-moz-transition: width 1s ease-out; /* Firefox 4 */
			-webkit-transition: width 1s ease-out; /* Safari and Chrome */
			-o-transition: width 2s ease-out; /* Opera */

			background-image: linear-gradient(bottom, rgb(0,196,255) 13%, rgb(24,157,219) 66%);
			background-image: -o-linear-gradient(bottom, rgb(0,196,255) 13%, rgb(24,157,219) 66%);
			background-image: -moz-linear-gradient(bottom, rgb(0,196,255) 13%, rgb(24,157,219) 66%);
			background-image: -webkit-linear-gradient(bottom, rgb(0,196,255) 13%, rgb(24,157,219) 66%);
			background-image: -ms-linear-gradient(bottom, rgb(0,196,255) 13%, rgb(24,157,219) 66%);


		}
	}

}
@media screen and (max-width: 767px) {
	html body {font-size: 12px;}
}